/* Hockey Website CSS */
@font-face{
    font-family: Coolvetica;
    src: url(../fonts/coolvetica-rg.ttf);
}
/* CSS to center Page and set width w/ margins*/
div.container {
    margin: 0 auto;
    width: 90%;
    border: 1px solid #ccc;
    padding: 25px;
    background: rgba(248, 248, 248, .7);
    border-radius: 10px;
}
nav {
    margin-bottom: 40px;
}
article{
    width: 60%;
    float: left;
}
aside{
    width: 35%;
    float: right;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: url("../images/ice-bg.jpg");
    width: 100%;
}

/* Nav CSS*/
ul {
    padding: 0px;
    list-style-type: none;
}
li.main-items {
    display: inline;
    padding: 10px;
    border: 1px solid #ccc;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;

}
li a {
    text-decoration: none;
    color: #000;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover, a:active {
    color: #0c73cf;
}
li a:hover, li a:active{
    color: #0C73CF;
}

/*Basic Body CSS*/
h1 {
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Coolvetica', sans-serif;
}
h2 {
    font-size: 1.313em;
    font-weight: 500;
    font-style: normal;
    color: #0c73cf;
}
h3 {
    font-size: 1.125em;
    font-weight: bold;
}
strong {
    color: #0c73cf;
}
img {
    width: 300px;
    height: 200px;
}

p.quote, figcaption{
    font-size: 0.813em;
    font-style: oblique;
}
ol li{
    list-style-type: upper-roman;
}
.ice{
    width: 45%;
    float: left;
    padding: 10px;
}
.field{
    width: 45%;
    float: right;
    padding: 10px;
}
.roller{
    clear: both;
    width: 45%;
    float: left;
    padding: 10px;
    margin-bottom: 15px;
}
.street{
    width: 45%;
    float:right;
    padding: 10px;
}
figure{
    text-align: center;
    margin: 0 auto;
}
.row{
    clear: both;
}
.bottom{
    clear: both;
    margin-top: 20px;
    background: url(../images/midnight-rampage.png) repeat-x center top;
    color: #fff;
    width: 100%;
    padding: 25px;
    margin-left: -25px;
    font-size: 1.25em;
}
table{
    margin-top: 15px;
    margin-bottom: 35px;
}
.form {
    padding: 10px;
    margin-top: -15px;
    background: rgba(248, 248, 248, .8);
    border-radius: 10px;
    border: 1px solid #ccc;
}
button.button {
    padding: 10px 40px;
    margin-bottom: 10px;
    background: #7db9e8;
    background: -moz-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(49%,#207cca), color-stop(50%,#2989d8), color-stop(100%,#1e5799));
    background: -webkit-linear-gradient(top, #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
    background: -o-linear-gradient(top, #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
    background: -ms-linear-gradient(top, #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
    background: linear-gradient(to bottom, #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
    border: 0px;
    border-radius: 5px;
    color: #fff;
}
button.button:hover{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
input {
    padding: 5px;
}
form{
    font-size: 12px;
}