/* Hockey Website CSS */
@font-face{
    font-family: Coolvetica;
    src: url(/fonts/coolvetica-rg.ttf);
}
/* CSS to center Page and set width w/ margins*/
div.container {
    margin: 0 auto;
    width: 1200px;
    border: 1px solid #ccc;
    padding: 25px;
    background-image: url(/images/midnight-rampage.png);
    background-repeat: repeat-x;
    background-position: top;
}
.nav {
    margin-bottom: 25px;
    height: 30px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;

    width: 100%;
}

/* Nav CSS*/
ul {
    padding: 0px;
    list-style-type: none;
}
li.main-items {
    display: inline;
    padding: 10px;
    border: 1px solid #0c73cf;
}
li a {
    text-decoration: none;
    color: #000;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover, a:active {
    color: #0c73cf;
}
li a:hover, li a:active{
    color: #0C73CF;
}

/*Basic Body CSS*/
h1 {
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    text-shadow: 1px 1px #000;
    text-align: center;
    margin-bottom: 25px;
    font-family: Coolvetica;
}
h2 {
    font-size: 1.313em;
    font-weight: 500;
    font-style: normal;
    color: #0c73cf;
}
h3 {
    font-size: 1.125em;
    font-weight: bold;
}
strong {
    color: #0c73cf;
}
img {
    width: 300px;
    height: 200px;
}

p.quote, figcaption{
    font-size: 0.813em;
    font-style: oblique;
}
ol li{
    list-style-type: upper-roman;
}
.ice{
    width: 45%;
    float: left;
    padding: 10px;
}
.field{
    width: 45%;
    float: right;
    padding: 10px;
}
.roller{
    width: 45%;
    float: left;
    padding: 10px;
}
.street{
    width: 45%;
    float:right;
    padding: 10px;
}
figure{
    text-align: center;
    margin: 0 auto;
}
.row{
    clear: both;
}
.bottom{
    clear: both;
    margin-top: 20px;
}